{% extends 'base.html' %}

{% block title %}
Sign In
{% endblock title %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
<div class = "container my-4" style="width: 500px;">
<h1>Register</h1>
<form method = "post" action = "/registered/">
    {% csrf_token %}
    <div class="mb-3" >
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="username" class="form-control" name="username" aria-describedby="usernameHelp">
    </div>
    <div class="mb-3" >
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock body %}