<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 
    {% block title %}
    {% endblock title %}| MURKH
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href= "/index.html">MURKH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Genres
              </a>
              {% comment %} <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/genre">Action</a></li>
                <li><a class="dropdown-item" href="/genre">Adventure</a></li>
                <li><a class="dropdown-item" href="/genre">Animation</a></li>
                <li><a class="dropdown-item" href="/genre">Comedy</a></li>
                <li><a class="dropdown-item" href="/genre">Crime</a></li>
                <li><a class="dropdown-item" href="/genre">Drama</a></li>
                <li><a class="dropdown-item" href="/genre">Family</a></li>
                <li><a class="dropdown-item" href="/genre">Fantasy</a></li>
                <li><a class="dropdown-item" href="/genre">History</a></li>
                <li><a class="dropdown-item" href="/genre">Horror</a></li>
                <li><a class="dropdown-item" href="/genre">Music</a></li>
                <li><a class="dropdown-item" href="/genre">Romance</a></li>
                <li><a class="dropdown-item" href="/genre">Science Fiction</a></li>
                <li><a class="dropdown-item" href="/genre">Thriller</a></li>
              </ul> {% endcomment %}
              <form method = "post" action = "/genre/">
                {% csrf_token %}
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 100px;">
                  <li><input type = "hidden" name = "genre" value = "action" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Action</button></li>
                  <li><input type = "hidden" name = "genre" value = "adventure" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Adventure</button></li>
                  <li><input type = "hidden" name = "genre" value = "animatiom" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Animation</button></li>
                  <li><input type = "hidden" name = "genre" value = "comedy" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Comedy</button></li>
                  <li><input type = "hidden" name = "genre" value = "crime" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Crime</button></li>
                  <li><input type = "hidden" name = "genre" value = "drama" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Drama</button></li>
                  <li><input type = "hidden" name = "genre" value = "family" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Family</button></li>
                  <li><input type = "hidden" name = "genre" value = "fantasy" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Fantasy</button></li>
                  <li><input type = "hidden" name = "genre" value = "history" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">History</button></li>
                  <li><input type = "hidden" name = "genre" value = "horror" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Horror</button></li>
                  <li><input type = "hidden" name = "genre" value = "music" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Music</button></li>
                  <li><input type = "hidden" name = "genre" value = "romance" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Romance</button></li>
                  <li><input type = "hidden" name = "genre" value = "sciencefiction" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Science Fiction</button></li>
                  <li><input type = "hidden" name = "genre" value = "thriller" /> 
                    <button type="submit" class="btn btn" style="width: 150px;">Thriller</button></li>
                  </ul>
            </li>
          </ul>
        </form>
          <form class="d-flex" role="search" method = "post" action = "/searchresults/">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
            <button class="btn btn-outline-success mx-3" type="submit">Search</button>
          </form>
          <a class="nav-link active mx-3" aria-current="/Login" href="/popular" style="color:white;"> Log In </a>
          <a class="nav-link active mx-3" aria-current="/Signin" href="/signup" style="color:white;"> Sign In </a>
        </div>
      </div>
    </nav>
    


{% block body %}
{% endblock body %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>