{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}


{% for i in reponse2 %}
<div class="card-group">  
  <div class="card  my-4 px-4 mx-4" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{i["title"]}</h5>
      <p class="card-text">{i["overview"]}</p>
      <a href="#" class="btn btn-primary">Reviews</a>
    </div>
  </div>
  {% comment %} https://image.tmdb.org/t/p/w300/{{i["poster_path"]}} <div class="card  my-4 px-4 mx-4" style="width: 18rem;">
    <img src="https://image.tmdb.org/t/p/w300/{{(i+1)["poster_path"]}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      <p class="card-text">{{i.overview}}</p>
      <a href="#" class="btn btn-primary">Reviews</a>
    </div>
  </div>
  <div class="card  my-4 px-4 mx-4" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      <p class="card-text">{{i.overview}}</p>
      <a href="#" class="btn btn-primary">Reviews</a>
    </div>
  </div>
  <div class="card  my-4 px-4 mx-4" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      <p class="card-text">{{i.overview}}</p>
      <a href="#" class="btn btn-primary">Reviews</a>
    </div>
  </div> {% endcomment %}
</div>
{% endfor %}
{% endblock body %}