{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block body %}

{% comment %} <div class = "my-4 mx-5"><h3>Popular Movies/ New Releases </h3></div> {% endcomment %}
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for key, value in response3.items %}
<div class="col">
  <div class="card mb-3 mx-5 my-4 h-100" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://image.tmdb.org/t/p/w300{{ value.poster_path }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ value.title }}</h5>
          <p class="card-text">{{ value.overview }}</p>
          <p class="card-text"><small class="text-muted">Release Date: {{ value.release_date }}</small></p>
          <form method = "post" action = "/review/">
            {% csrf_token %}
            <input type = "hidden" name = "movieid" value = "{{ key }}" /> 
            <button type="submit" class="btn btn-secondary">Reviews</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock body %}